a {
    color: #11999E;
}


body {
    position :relative;
    text-align: center;
    margin:0;
    font-family: 'Merriweather', serif;
    font-size: 200%;
}
h1 {
    font-size: 5.625rem;
    margin-top:0;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    color: #66BFBF;

}

h3 {
    color:#11999E;
    font-family: 'Montserrat', sans-serif;
}

.top-container {
    background-color: aqua;
    position: relative;
    padding-top: 100px;
}
.mountain {
        display: inline;
    }
.middle-container {
   
}
#bottom-container {

}

span {
    text-decoration-style: underline;
    display:inline-block;
}

.bottom-cloud {
    position: absolute;
    left:440px;
    top:155px;
}

.top-cloud {
    position: absolute;
    right:300px;
    top:50px;

}
.coding {
    width:8rem;
}
.paint {
    height:100px;
    width:100px;
}